ul {
  list-style-type: none;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: rgb(231, 220, 66);
}
li {
  display: inline;
}
#w {
  padding-left: 1050px;
}
#move {
  padding-left: 14px;
}
#m {
  padding-left: 14px;
}
#p {
  padding-left: 14px;
}
nav {
  background-color:red;
  width: 100%;
  height: 50%;
}
a:hover {
  color: white;
  background-color: black;
}
